/* ===================================== 
   Base Styles
======================================== */
body {
    margin: 0 0;
    padding: 0 0;
}
.search {
    text-align: center;
    padding: 10px 50px 30px;
}
#search {
    padding: 16px 10px;
    border-radius: 5px;
    border: solid gray 1px;
    width: 50%;
    font-size: 12px;
}

/* ===================================== 
   Grid Layout
======================================== */
.gallery {
    margin: 0 auto;
    justify-content: center;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-gap: 1.5em;
}